<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turistando</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">Turistando</a>
        </div>
        <div class="user-icon">
            <a href="/registrar">
                <i class="fa-solid fa-user"></i>             
            </a>
        </div>
    </header>
    <main>
        <div class="background-image">
            <div class="search-container">
                <input type="text" placeholder="Qual sua próxima parada?">
                <button>Pesquisar </button>
            </div>
        </div>
    </main>
    <footer>
        <div class="cidades">
            <div class="textinho">
            <h1>Cidades mais procuradas</h1>
            </div>
            
            <div class="row">
                <div class="citys"><a href=""><img src="/images/Alcântara.jpg" alt="Button 1"></a></div>
                <div class="citys"><a href=""><img src="/images/Arthur-Azevedo.jpg" alt="Button 2"></a></div>
                <div class="citys"><a href=""><img src="/images/Atins.jpg" alt="Button 3"></a></div>
            </div>
            <div class="row">
                <div class="citys"><a href=""><img src="/images/mesas.jpeg" alt="Button 4"></a></div>
                <div class="citys"><a href=""><img src="/images/imperatriz.jpg" alt="Button 5"></a></div>
                <div class="citys"><a href=""><img src="/images/sao-jose.jpg" alt="Button 6"></a></div>
            </div>
            
        </div>
    </footer>
    <script src="/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js" integrity="sha512-6sSYJqDreZRZGkJ3b+YfdhB3MzmuP9R7X1QZ6g5aIXhRvR1Y/N/P47jmnkENm7YL3oqsmI6AK+V6AD99uWDnIw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>